.container {
  position: relative;
}

.close-btn {
  width: 24px;
  min-width: 24px;
  padding: 0;
  position: absolute;
  top: 1px;
  right: 1px;
}

.mat-dialog-content {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.description {
  padding: 10px;
}

.mat-dialog-title {
  text-align: center;
  padding: 15px;
}
