* {
  /* box-sizing: border-box; */
}

.search-bar {
  display: block;
  width: 400px;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0;
}

.pokemon-card {
  width: 168px;
  height: 152px;
  margin: 0 auto;
}

.pokemon-title {
  text-align: center;
}

.pokemon-img {
  /* width: 200px;
  height: 200px; */
  display: block;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}

@media (min-width: 452px) {
  .wrapper {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 792px) {
  .wrapper {
    width: 33%;
  }
}

@media (min-width: 993px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .wrapper {
    width: 25%;
  }
}

@media (min-width: 1450px) {
  .wrapper {
    width: 20%;
  }
}
