<mat-sidenav-container>
  <mat-sidenav #sidenav
               [mode]="sideNavMode"
               [opened]="!isSmallScreen">
    <div class="sidenav-title">
      <mat-list>
        <mat-list-item class="sidenav-title-text">NG5-PWA</mat-list-item>
      </mat-list>
    </div>
    <mat-divider></mat-divider>
    <mat-list class="sidenav-menu">
      <mat-list-item class="sidenav-menu-item">
        <button mat-button
                class="sidenav-menu-button"
                (click)="sidenav.toggle()">
          <span>Pokémon</span>
        </button>
      </mat-list-item>
      <mat-list-item class="sidenav-menu-item">
        <button mat-button
                class="sidenav-menu-button">
          <span>
            <a href="https://github.com/devlorz/ng5-pwa">About</a>
          </span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent"
                 class="primary-toolbar">
      <button mat-button
              class="home-button"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>NG5-PWA</span>
    </mat-toolbar>

    <mat-form-field floatPlaceholder="never"
                    class="search-bar"
                    color="accent">
      <input type="text"
             placeholder="Search pokemon"
             [ngModel]="searchText"
             (ngModelChange)="onSearch($event)"
             matInput>
    </mat-form-field>
    <div class="container">
      <app-pokemon-card class="wrapper"
                        *ngFor="let pokemon of pokemonList"
                        [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>