<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="side"></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent"
                 class="primary-toolbar">
      <button mat-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>NG5-PWA</span>
    </mat-toolbar>

    <mat-form-field floatPlaceholder="never"
                    class="search-bar"
                    color="accent">
      <input type="text"
             placeholder="Search pokemon"
             [ngModel]="searchText"
             (ngModelChange)="onSearch($event)"
             matInput>
    </mat-form-field>
    <div class="container">
      <app-pokemon-card class="wrapper"
                        *ngFor="let pokemon of pokemonList"
                        [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>