.search-bar {
  display: block;
  width: 400px;
  margin: 1em auto;
}

.container {
  width: 90%;
  margin: 0;
}

.pokemon-card {
  margin-bottom: 1em;
  width: 40%;
  height: 40%;
  margin-right: 1em;
  display: inline-block;
}

.pokemon-title {
  text-align: center;
}

.pokemon-img {
  /* width: 200px;
  height: 200px; */
  display: block;
  margin: 0 auto;
}
