mat-sidenav {
  width: 280px;
  position: fixed;
}

mat-toolbar {
  position: fixed;
  z-index: 100;
  top: 0;
}

.home-button {
  min-width: 30px;
  margin-right: 15px;
  width: 30px;
  padding: 0;
}

.search-bar {
  display: block;
  width: 90%;
  margin: 80px auto 1em auto;
}

/* @media (min-width: 320px) {
  .wrapper {
    width: 50%;
  }
} */

/* @media (min-width: 484px) {
  .wrapper {
    width: 33%;
  }
} */

@media (max-width: 599px) {
  .sidenav-title {
    padding-left: 20px;
    height: 56px;
  }

  .wrapper {
    margin: 0 5px 1em 5px;
  }
}

@media (min-width: 768px) {
  /* .wrapper {
    width: 25%;
  } */

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .search-bar {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .search-bar {
    width: 70%;
  }
}

/* @media (min-width: 1260px) {
  .wrapper {
    width: 20%;
  }
} */

/* @media (min-width: 1390px) {
  .wrapper {
    width: 16.6%;
  }
} */
