<mat-toolbar color="primary"
             class="primary-toolbar">
  <span>My App</span>
</mat-toolbar>

<mat-form-field floatPlaceholder="never"
                class="search-bar">
  <input type="text"
         placeholder="Search pokemon"
         matInput>
</mat-form-field>
<div class="container">
  <mat-card class="pokemon-card"
            *ngFor="let pokemon of pokemonList">
    <mat-card-title class="pokemon-title">#{{pokemon.id}} {{pokemon.name}}</mat-card-title>
    <img class="pokemon-img"
         src={{pokemon.sprite}}>
  </mat-card>
</div>